<h1>Все iPhone</h1>
<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Phone phone in Model.allPhones) {
            @Html.Partial("AllPhones", phone)
        }
    }
</div>